.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  background-color: #000;
  box-sizing: border-box;
  display: block;
  height: 10vh;
  left: -30px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 10vh;
}
.header-logo:hover,
.header-logo:active {
  background-color: #ed6e2f;
}
.header-logo img {
  width: 4.3vh;
}
.header-nav {
  background-color: #444;
  box-sizing: border-box;
  left: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 10vh;
  transition: all 0.5s ease-in-out;
  width: 100vw;
  z-index: 9;
}
.header-nav li {
  display: block;
  margin-top: 1em;
}
.header-nav li ~ li {
  border: 0;
  padding: 0;
}
.header-nav li:last-child {
  margin-bottom: 1em;
}
.header-nav li:first-child a {
  color: #fff;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 1em;
}
.header-nav a {
  color: #fff;
}
.header-nav a,
.drop-trigger {
  color: #fff;
}
.header-nav > li:first-child a {
  color: #ed6e2f;
}
.header-nav > li:first-child a:hover {
  color: #fff;
}
.nav-links a,
.drop-trigger,
.show-mobile-menu {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}