<head>

{% if page.title %}
  <title>{{ page.title }} | Test Page</title>
{% else %}
  <title>Test Page: Don't Panic</title>
{% endif %}
{% if page.description %}
  <meta name="description" content="{{ page.description }}">
{% else %}
  <meta name="description" content="This is a dangerous site.">
{% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.png"

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100&display=swap">
  <link rel="stylesheet" href="/fonts/fontawesome-free-5.9.0-web/css/brands.css">
  <link rel="stylesheet" href="/fonts/fontawesome-free-5.9.0-web/css/fontawesome.min.css">


  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/nav-links.css">
  <link rel="stylesheet" href="/css/social-links.css">

  <link rel="stylesheet" href="/css/bio-box.css">
  <link rel="stylesheet" href="/css/col.css">
  <link rel="stylesheet" href="/css/gallery.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link rel="stylesheet" href="/css/post.css">

  <link rel="stylesheet" href="/css/media-query.css">
</head>