<head>
  <title>Test Page: Don't Panic</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/nav-links.css">
  <link rel="stylesheet" href="/css/social-links.css">

  <link rel="stylesheet" href="/css/bio-box.css">
  <link rel="stylesheet" href="/css/col.css">
  <link rel="stylesheet" href="/css/gallery.css">
</head>